:root {
  /* --light-yellow: rgb(236, 184, 93);
  --dark-yellow: rgb(226, 164, 57); */
  --light-yellow: #FFC66B;
  --dark-yellow: rgb(202, 149, 64);
  --darkest-blue: rgb(57, 73, 116);
  --dark-blue: #5A6A95;
  --light-blue: #3B79A1;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  /* border: 2px solid blue; */
}

/* *************** Navigation bar *************** */

.navbar {
  background: var(--dark-blue);
  width: 100%;
  margin: 0;
}

.navbar-logo {
  color: var(--darkest-blue);
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar-logo:hover {
  color: var(--darkest-blue);
}

.fa-plus-circle {
  color: var(--light-yellow);
  font-size: 3rem;
}

.fa-plus-circle:hover {
  color: var(--dark-yellow);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  font-size: 1.8rem;
}

/* *************** Right navigation *************** */

.rightNav {
  background: var(--darkest-blue);
}

.rightNav ul {
  padding: 1rem;
}

.rightNav ul li {
  padding: .5rem;
}

.rightNav ul li a {
  color: var(--light-yellow);
  text-decoration: none;
}

/* *************** Tasks *************** */

.tasksContainer {
  background: var(--darkest-blue);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.taskItem {
  height: 200px;
  margin: 5px;
  padding: 20px;
  background: rgba(176, 142, 180, 0.5);
}

.taskItem .fas {
  color: var(--dark-yellow);
}

.taskStage {
  list-style-type: none;
}

li {
  padding-left: 5px;
}


/* ************** The Modal (background) ************** */

.rightNav {
  text-align: right;
}

.rightNav ul li {
  list-style: none;
}

/* ************** The Modal (background) ************** */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  margin-top: 20px;
}