@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Sans:400,400i');

:root {
  --light-yellow: #FFC66B;
  --dark-yellow: rgb(202, 149, 64);
  --darkest-yellow: rgb(165, 117, 40);
  --almost-black: rgb(43, 43, 43);
  --darkest-blue: rgb(57, 73, 116);
  --dark-blue: #5A6A95;
  --light-blue: #3B79A1;
  --title-font: 'PT Sans Narrow', sans-serif;
  --body-font: 'PT Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  /* border: 2px solid blue; */
}

/* *************** Navigation bar *************** */

/* .navbar {
  background: var(--dark-blue);
  width: 100%;
  margin: 0;
  font-family: var(--title-font);
}

.navbar-logo {
  color: var(--darkest-blue);
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar-logo:hover {
  color: var(--darkest-blue);
}

.fa-plus-circle {
  color: var(--light-yellow);
  font-size: 3rem;
}

.fa-plus-circle:hover {
  color: var(--dark-yellow);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  font-size: 1.8rem;
} */

/* *************** Right navigation *************** */

/* .rightNav {
  background: var(--darkest-blue);
}

.rightNav ul {
  padding: 1rem;
}

.rightNav ul li {
  padding: .5rem;
}

.rightNav ul li a {
  color: var(--light-yellow);
  text-decoration: none;
} */

/* *************** Tasks *************** */

/* .tasksContainer {
  background: var(--darkest-blue);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.taskItem {
  height: 200px;
  margin: 10px;
  padding: 20px;
  color: var(--almost-black);
  border-radius: 3px;
  background: var(--dark-blue);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
}

.taskItem .fas {
  color: var(--dark-yellow);
}

.taskItem .fa-pen {
  cursor: pointer;
}

.taskStage {
  list-style-type: none;
}

li {
  padding-left: 5px;
} */


/* ***************** Right navbar ***************** */
/* .rightNav {
  text-align: right;
}

.rightNav ul li {
  list-style: none;
} */

/* ************** The Modal (background) ************* */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Title and x close button */
.modalTop {
  display: flex;
  justify-content: space-between;
  font-family: var(--title-font);
}

.modalSubtitle {
  font-family: var(--body-font);
  font-style: italic;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--dark-blue);
  color: var(--almost-black);
  max-width: 550px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: var(--almost-black);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--dark-yellow);
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
}

form button {
  margin-top: 20px;
}

input[type=text] {
  background: var(--darkest-blue);
  border: 0;
  color: white;
  padding: 3px 3px 3px 8px;
}

input[type=text] {
  background: var(--darkest-blue);
  border: 0;
  color: white;
  padding: 3px 3px 3px 8px;
}

select {
  background: var(--darkest-blue);
  border: 0;
  color: white;
}

/* button[type=submit] {
  background: var(--dark-yellow);
  border: none;
  border-bottom: 2px solid var(--darkest-yellow);
  width: 200px;
  height: 30px;
} */